<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=(local);Initial Catalog=sandbox_core;Integrated Security=False;User ID=sa;Password=P@ssw0rd" />
  <add name="master" connectionString="Data Source=(local);Initial Catalog=sandbox_master;Integrated Security=False;User ID=sa;Password=P@ssw0rd" />
  <add name="web" connectionString="Data Source=(local);Initial Catalog=sandbox_web;Integrated Security=False;User ID=sa;Password=P@ssw0rd" />
  <add name="analytics" connectionString="mongodb://localhost:27017/sandbox_analytics" />
  <add name="tracking.live" connectionString="mongodb://localhost:27017/sandbox_tracking_live" />
  <add name="tracking.history" connectionString="mongodb://localhost:27017/sandbox_tracking_history" />
  <add name="tracking.contact" connectionString="mongodb://localhost:27017/sandbox_tracking_contact" />
  <add name="reporting" connectionString="Data Source=(local);Initial Catalog=sandbox_reporting;Integrated Security=False;User ID=sa;Password=P@ssw0rd" />
  <add name="reporting.apikey" connectionString="Data Source=(local);Initial Catalog=sandbox_reporting.apikey;Integrated Security=False;User ID=sa;Password=P@ssw0rd" />
</connectionStrings>